$white: #fff;
$black: #151515;
$primary: #f26724;
$primaryLight: #fdb913;
$primaryDark: #f04f26;
$secondary: #444;
$secondaryDark: #333;

$borderDark: 1px solid rgba(0, 0, 0, 0.1);
$borderLight: 1px solid rgba($primary, 0.2);

$defaultShadow: 0 0 30px -5px rgba($black, 0.1);

$defaultAnimation: all 300ms cubic-bezier(0.3, 0.9, 0.3, 0.9);
