@import "colors.module";

.button {
  padding: 6px 1rem;
  border-radius: 0.5rem;
  transition: all 300ms ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 36px;

  > span.icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }

  > span {
    text-transform: uppercase;
    color: $secondary;
    font-size: 1rem;
    font-weight: bold;
  }

  &:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.defaultButton {
  border: none;
  background-color: transparent;
}

.outlinedButton {
  border: solid 1px $primary;
  background-color: transparent;
}

.containedButton {
  border: none;
  background-color: $primary;

  > span {
    color: $white;
  }

  &:hover {
    background-color: rgba($primary, 0.8);
  }
}
