@import "colors.module";

button.changeModalityButton {
  display: flex;
  cursor: pointer;
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: none;
  text-align: left;
  margin-left: 1rem;

  svg {
    fill: $secondaryDark;
    margin-right: 0.5rem;
    transition: $defaultAnimation;
  }

  p {
    font-weight: bold;
    transition: $defaultAnimation;
    white-space: nowrap;
  }

  .enabled {
    font-size: 1.2rem;
    color: $primary;
  }

  .disabled {
    font-size: 0.8rem;
    color: $secondaryDark;
  }

  &:hover {
    svg { fill: $primary; }

    .enabled {
      font-size: 0.8rem;
      color: $secondaryDark;
    }

    .disabled {
      font-size: 1.2rem;
      color: $primary;
    }
  }

  &:focus {
    svg { fill: $secondaryDark; }

    .enabled {
      font-size: 1.2rem;
      color: $primary;
    }

    .disabled {
      font-size: 0.8rem;
      color: $secondaryDark;
    }
  }
}
