* {
    font-family: 'Roboto', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
