@import "colors.module";

div.container {
  max-width: 1280px;
  padding: 100px 3rem 3rem 3rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div.generalWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    div.generalItem {
      background-color: #f9f9f7;
      width: calc((100% / 3) - 2rem);
      padding: 2rem;
      margin: 1rem 1rem 4rem 1rem;
      border: $borderDark;
      box-shadow: $defaultShadow;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: $secondary;
      }

      > p {
        font-size: 1.2rem;
        text-align: center;

        span { font-weight: 600; }

        strong {
          color: $primary;
          font-weight: 600;
        }
      }

      > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          margin: 1rem 0;
          padding: 0.5rem 0.8rem;
          border: $borderLight;
          font-size: 0.8rem;
          border-radius: 2rem;
          background-color: $primaryLight;
        }
      }

      > div.linkGroup {
        width: 100%;
        margin-top: 1rem;

        a {
          color: $primaryDark;
          line-height: 2rem;
          text-align: center;
          width: 100%;
          display: block;
        }
      }
    }
  }

  div.titleWrapper {
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1000px) {
  div.container {
    padding: 100px 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    div.titleWrapper {
      padding: 1rem 1rem 2rem 1rem;
    }

    div.generalWrapper {
      div.generalItem {
        width: 100%;
        margin: 1rem 0 1rem 0;

        &:last-child {
          margin-bottom: 4rem;
        }

        ul { justify-content: space-evenly; }
      }
    }
  }
}
